@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  margin: 0;
  padding: 0;
  position: relative;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  color: #4f4f4f;
  z-index: 1;
}

.scroll-label,
.github-label {
  position: fixed;
  padding: 12px;
  z-index: 2;
}

.scroll-label {
  top: 0;
  left: 0;
}

.github-label {
  top: 0;
  right: 0;

  .label-text {
    text-decoration: none;
  }

  .label-text:hover {
    text-decoration: underline;
  }
}

.label-text {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
